.body-color{
    background-color: #212529;
}

.mother-art{
    background-color: #000;
}
.lanzamientos{
    color: $color-primario
}
.mother-titulos{
    color: #fff;
}
.mother-texto{
    color: #c4c4c4
}