* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
  }


$color-primario: #ff6400;

$color-secundario:#292929;

$color-titulos: #111;

$color-claro: #fff;

// @font-face {
//     font-family: 'Titillium Web';
//     src: url('../../Titillium_Web\ font/Titillium_Web');
// }

$redes-sociales: (
    facebook: #3B579D,
    linkedin: #007BB6,
    Twitter: #2CAAE1
);

